body{
  margin: 0px;
  height: 1400px;
  width: auto;
}
header{
  margin: 0 auto;
  height: 10%;
  width:100%;
  background-color: #333;
}
#logo{
  height: 75px;
  width: 175px;
  margin: 0 45%;
  margin-bottom: 20px;
}
#buttons{
    width: 1000px;
    margin: 0 25%;
}
button{
  background-color:#333;
  font-size: 15px;
  float: left;
  margin: 0 auto;
  border-left: none;
  border-top: none;
  border-bottom: none;
  color: #999999;
}
button:hover{
  text-decoration: underline;
}
#picture1{
    border-color: #fff;
    height:10%;
    width: 925px;
}
#picture1:hover{
    border-color: #161;
}
